.child1G{
    width: 100vw;
    height: 100vh;
}

header{
    height: 20%;
    width: 100%;
    border-bottom: 0.5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2.5%;
}

header .menu a{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid transparent;
    padding: 0.4rem;
}

header .menu a:hover{
    border: 0.5px solid blue;
}

header .menu a img{
    height: 100%;
    width: 100%;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10%;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-right: 1rem;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    text-decoration: underline;
}

aside{
    position: absolute;
    left: 0;
    top: 20%;
    
}

aside nav{
    height: 78vh;
    width: 20vw;
    border-right: 0.5px solid blue;
}

aside nav ul{
    list-style-type: none;
}

aside nav ul li{
    margin-bottom: 1rem;
}

section{
    width: 70vw;
    height: 80vh;
}

footer{
    width: 100%;
    height: 5vh;
    border-top: 0.5px solid blue;
    color: white;
    display: flex;
    justify-content: flex-end;
}

