<div class="child1G">
  <header>
    <div class="menu">
      <a href="#"><img src="../assets/menu_30dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="menu button"></a>
    </div>
    <div class="logo">
      <img src="../assets/icons8-logo-50.png" alt="Website logo">
    </div>
    <nav class="horizontal">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </nav>
  </header>
  <aside>
    <nav class="vertical">
      <ul>
        <li><a href="/">Calculator</a></li>
        <li><a href="/">Form</a></li>
        <li><a href="/">Info</a></li>
      </ul>
    </nav>
  </aside>
  <section></section>
  <footer>
    &copy; 2024 - All rights reserved
  </footer>
</div>